ci:
    autofix_prs: false
    autoupdate_schedule: weekly

default_language_version:
    python: python3.10

repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0  # keep in sync with pyproject.toml
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/PyCQA/isort
    rev: '7.0.0'  # keep in sync with pyproject.toml
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0' # keep in sync with pyproject.toml
    hooks:
    -   id: flake8
